
#bandeau_ENT_Inner {
  margin: 0;
  background-color: #F1F1F1;
  font:13px/1.231 Verdana, Arial, Helvetica, sans-serif;
}  
/* force sane values */
#bandeau_ENT_Inner, #bandeau_ENT_Inner span {
  text-align: left !important;

  font-size:13px/1.231 !important;
  font-family: Verdana, Arial, Helvetica, sans-serif !important;
  font-weight: normal !important;
}

#bandeau_ENT_Inner a {
  color: #263F82;
}

#bandeau_ENT_Inner img {
  border: 0;
}

/* Portal Page Bar */
.portalPageBarLinks {position:absolute; right: 0; top: 0; z-index: 100003; padding:0;  }
/* for IE7 IE8, force the width: force the width and make it auto for browsers handling :not selector (all browsers except IE lt 9) */ 
.portalPageBarLinks { width: 15em; }
.portalPageBarLinks:not([dummy]) { width: auto; }
.focused .portalPageBarLinks { padding-top: 0; }


/*********************************************************************************/
#portalPageBarAccount > a > span {
    background: url(https://esup.univ-paris1.fr/media/skins/universality/uportal3/images/arrow_down.png) no-repeat center right;
    padding-right: 1em;
}

#portalPageBarAccount {
    display: block;
    float: left;
    height: 32px;
}
.focused #portalPageBarAccount {
    height: 30px;
}

#portalPageBarAccount > a {
    display: inline-block;
    padding: 1px 6px;
    line-height: 28px;
    font-size: 13px; /* enforce it */
}

#portalPageBarAccount > a,
#portalPageBarAccountInner a {
    text-decoration: none;
}

#portalPageBarAccount > a:hover, #portalPageBarAccount.open a {
    background-color: #e7ddc8;
}

#portalPageBarAccount > a:focus {
    border: 1px solid #d7cdb8;
    padding: 0 5px;
    outline: none;
}

#portalPageBarAccount.open a {
    border-top: 1px solid #d7cdb8;
    border-right: 1px solid #d7cdb8;
    border-left: 1px solid #d7cdb8;
    padding: 0 5px 1px;
}

#portalPageBarAccountInner {
    display: none;
    position: absolute;
    background-color: #e7ddc8;
    z-index: 100006;
    top: 31px;
    right: 74px;
    border: 1px solid #d7cdb8;
    -moz-border-radius : 5px 0 5px 5px;
    border-radius : 5px 0 5px 5px;
    -webkit-border-bottom-left-radius : 5px;
    -webkit-border-bottom-right-radius : 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius : 0;
    white-space: nowrap;
}
#portalPageBarAccountInner.open {
    display: block;
}
.focused #portalPageBarAccountInner {
    top: 29px;
}

#portalPageBarAccountInner a:hover {
    color: #000 !important;
}

#portalPageBarAccountInner ul {
    margin: 1em;
    padding: 0;
}
#portalPageBarAccountInner li {
    list-style: none;
}

li.portalPageBarAccountDescr, .portalPageBarLinks a {
    padding: 0 0.5em;
}

li.portalPageBarAccountAnchor {
    margin-top: 0.5em;
    line-height: 2em;
}

li.portalPageBarAccountLogout {
    border-top: 1px dotted #999999; 
    padding-top: 1em;
    margin-top: 1em;
}


/*********************************************************************************/
#portalPageBarLogin a {
    line-height: 2.5em;
    margin: 6px;
}

.portalPageBarLogout {
    display: block;
    float: right;
    height: 32px;
}
.focused .portalPageBarLogout {
    height: 30px;
    background: url(https://ticetest.univ-paris1.fr/bandeau-ENT/logout.png) no-repeat scroll 0 4px transparent;
}

/* replace Deconnexion with an icon */
.portalPageBarLogout a {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 6px;
}
.focused .portalPageBarLogout a {
    margin: 5px 7px 5px 6px;
}

.portalPageBarLogout:hover {
    background-color: #e7ddc8;
}
.portalPageBarLogout span {
    display: none;
}

#bandeau_ENT_portalPageBarToggleMenu {
    height: 40px;
    display: block;
    float: right;
    position: relative;
}
#bandeau_ENT_portalPageBarToggleMenu > span {
  display: block; font-size: 16px; color: #263F82; padding: 5px;
  background: #cccccc;
  border-left: 1px solid #a8a8a8;
  /*text-shadow: 0 0 1px;*/
}
#bandeau_ENT_portalPageBarToggleMenu:hover > span {
    background: #dddddd;
}
#bandeau_ENT_portalPageBarToggleMenu:hover {
    cursor: pointer;
}

.menuClosed #bandeau_ENT_portalPageBarToggleMenu > div {
    display: none;
}

#bandeau_ENT_portalPageBarToggleMenu a span {
    display: none;
}

#bandeau_ENT_portalPageBarToggleMenu a {
    background: url(https://ticetest.univ-paris1.fr/bandeau-ENT/chevron-close.png) no-repeat center;
    display: inline-block;
    width: 20px;
    height: 19px;
    padding: 0;
    margin-top: -8px;
    margin-left: 12px;
}

.menuClosed #bandeau_ENT_portalPageBarToggleMenu a {
    background-image: url(https://ticetest.univ-paris1.fr/bandeau-ENT/chevron-open.png);
}


/*********************************************************************************/
.bandeau_ENT_portalLogo {
 padding: 0;
 height: 30px;
 background-color: #F7EDD8;
}
.menuClosed .bandeau_ENT_portalLogo { 
 height: 30px;
}

/*********************************************************************************/
body {
 margin-top: 0;
 margin-left: 0;
 margin-right: 0;
}

.bandeau_ENT_Menu {
 margin: 0;
 padding-left: 0;
 display: block;
}

.bandeau_ENT_Menu a, .bandeau_ENT_Menu span {
 padding:0.3em 0.2em 0.9em 0.2em;
 color:#555;
 text-decoration:none;
}

.menuClosed .bandeau_ENT_Menu_and_titlebar > ul, .menuClosed .bandeau_ENT_Menu_and_titlebar > p {
 display: none;
}

.bandeau_ENT_Menu > li {
 z-index: 100002;
 float: left;
 padding: 5px 11px 0px 11px;
}

@media screen and (max-width: 450px) {
  .bandeau_ENT_Menu > li {
    float: none;
  }
}

*:first-child+html .bandeau_ENT_Menu > li {
 padding:0;
} /* hack needed for IE7 */

.bandeau_ENT_Menu > li.activeTab,
.bandeau_ENT_Menu > li:hover {
 background:#f1f1f1;
 color:#fff;
}
.bandeau_ENT_Menu > li:hover span,
.bandeau_ENT_Menu > li.activeTab span,
.bandeau_ENT_Menu > li:hover a,
.bandeau_ENT_Menu > li.activeTab a {
 color:#213885 !important;
}
.bandeau_ENT_Menu > li:hover { 
 z-index: 100003;
 } /* above activeTab in case of multi-line */

/* subrow */
.bandeau_ENT_Menu li ul {
 padding:0.5em 0;
}
.bandeau_ENT_Menu li:hover ul { display: block; }

.bandeau_ENT_Menu li ul li {
 list-style-type:none;
 display:inline;
}
.bandeau_ENT_Menu li ul a {
   padding:0em 1em;
   text-decoration:none; 
   color:#acc9e6 !important;
   text-shadow:1px 1px 1px rgba(0,0,0,.5);
   z-index: 100005;
}
.bandeau_ENT_Menu li ul a:hover {
 color:#eee !important;
}

/* Flyout Navigation */
.bandeau_ENT_Menu li ul {
   padding:0;
   margin: 0; /* needed on IE8, no drawbacks on others */
   background:transparent; 
}

.bandeau_ENT_Menu li ul li {
 list-style:none;
}
.bandeau_ENT_Menu li ul li {
  display:list-item; position:static; padding:0;
}
.bandeau_ENT_Menu li ul li a {
  display:block;
}

.bandeau_ENT_Menu li ul {
  padding:2px;
  background-color:#f1f1f1;
  border: 1px solid #999999;
}
.bandeau_ENT_Menu li ul li:first-child { 
  border-top: none !important; 
}
.bandeau_ENT_Menu li ul li a {
 color:#213885 !important; 
 font-weight:normal; 
 font-size:100%;
 background-color:#f1f1f1;
 text-decoration:none;
 text-align:left;
 display:block;
 border: 0px solid #555 !important;
 text-shadow:none;
}
.bandeau_ENT_Menu li ul li a:hover {
 color:#000000 !important; 
}



.bandeau_ENT_Menu > li {
    display: block;
    position: relative;
}

.bandeau_ENT_Titlebar {
    color: #263F82;
}
.bandeau_ENT_Menu_and_titlebar .bandeau_ENT_Titlebar {
    background: white;
    padding: 13px 0 18px 13px;
    font-size: 200%;
}
.bandeau_ENT_titlebar_in_header {
    position: absolute;
    left: 120px;
    font-size: 16px;
    top: 7px;
}
.bandeau_ENT_titlebar_in_header {
    display: none;
}
.bandeau_ENT_ent_title_in_header {
    display: none;
}
@media screen and (min-width: 450px) {
  .menuClosed .bandeau_ENT_titlebar_in_header {
    display: block;
  }
  .menuClosed .bandeau_ENT_Menu_and_titlebar {
   display: none;
  }
}
